*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body{
    width: 100%;
    height: 100%;
    overflow: hidden; /*no scroll*/
    z-index: -1;
}

a{
    text-decoration: none;
    color: white;
}

nav a{
    padding-right: 20px;
}

nav a:hover{
color: purple;
}

header{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo{
    display: flex;
}

.logo img{
height: 20px;
padding-left: 20px;
}

.gradient{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    z-index: -1;
}

.texto{
    padding: 25px;
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 100px;
}