*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
}

nav a{
    padding-right: 20px;
}

nav a:hover{
    color: purple;
}

header{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo img{
    height: 20px;
    padding-left: 20px;
}

main{
    display: flex;
    height: calc(100vh - 40px);
}

.izquierda{
    width: 40%;
    height: calc(100vh - 40px);
}

.taller{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.derecha{
    text-align: center;
    color: white;
    height: calc(100vh - 40px);
    width: 60%;
    display: flex;
}

.gradient{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    display: flex;
}

.texto{
    margin-left: 175px;
    padding: 25px;
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 100px;
}

.texto h1{
    padding: 50px;
}

.texto h2{
    padding: 20px;
}