*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body{
    width: 100%;
    height: 100%;
    overflow: hidden; /*no scroll*/
}

a{
    text-decoration: none;
    color: white;
}

nav a{
        padding-right: 20px;
}

nav a:hover{
color: purple;
}

header{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo{
    display: flex;
}

.logo img{
height: 20px;
padding-left: 20px;
}

.grid{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.card{
    position: relative;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

.content h2{
    font-size: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.content button{
   opacity: 0;
   padding: 12px 26px;
   border: none;
   background: #fff;
   color: #000;
   font-weight: 600;
   cursor: pointer;
   transform: translateY(10px);
   transition: opacity 0.3s ease, transform 0.3s ease;
}

.card:hover.content{
    background: rgba(0, 0, 0, 0.6);
}

.card:hover button{
    opacity: 1;
    transform: translateY(0);
}