*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body{
    width: 100%;
    height: 100%;
    overflow: hidden; /*no scroll*/
    color: white;
    z-index: -2;
}

a{
    text-decoration: none;
    color: white;
}

nav a{
    padding-right: 20px;
}

nav a:hover{
color: purple;
}

header{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo{
    display: flex;
}

.logo img{
height: 20px;
padding-left: 20px;
}

.gradient{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    z-index: -1;
}


.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    color: white;
    z-index: 1;
    border-radius: 10px;
}

.formulario h1{
    text-align: center;
    padding: 0 0 20px 0;
}

.username{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contrasena{
    display: flex;
    justify-content: center;
    align-items: center;
}

.enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}