*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body{
    width: 100%;
    height: 100%;
    overflow: hidden; /*no scroll*/
}

.bg-video{
    position: fixed; /*evita saltos al rotar pantalla*/
    top: 0;
    left: 0;
    width: 100vw; /*centra horizontalmente*/
    height: 100vh; /*centra verticalmente*/
    object-fit: cover; /*se ajusta a la pantalla proporcionalmente*/
    z-index: -1;
}

a{
    text-decoration: none;
    color: white;
}

nav a{
        padding-right: 20px;
}

nav a:hover{
color: purple;
}

header{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.logo{
    display: flex;
}

.logo img{
height: 20px;
padding-left: 20px;
}

.overlay{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-style: normal;
    font-family: montserrat, sans-serif;
}