<ion-header>
  <ion-toolbar>
    <ion-title>Acceso</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="mode">
      <ion-segment-button value="login">
        <ion-label>Login</ion-label>
      </ion-segment-button>
      <ion-segment-button value="register">
        <ion-label>Registro</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
 <div class="auth-form">
  <div class="field">
    <label>Usuario</label>
    <input #u class="native-field" type="text" autocomplete="username" />
  </div>

  <div class="field">
    <label>Contraseña</label>
    <input #p class="native-field" type="password" autocomplete="current-password" />
  </div>

  <div class="field" *ngIf="mode === 'register'">
    <label>Confirmar contraseña</label>
    <input #c class="native-field" type="password" autocomplete="new-password" />
  </div>

  <ion-button expand="block" [disabled]="loading" (click)="submit(u.value, p.value, p?.value)">
    <ion-spinner slot="start" *ngIf="loading"></ion-spinner>
    {{ mode === 'login' ? 'Entrar' : 'Crear usuario' }}
  </ion-button>
</div>
</ion-content>